<!DOCTYPE HTML>
<html>
<head>
    <link th:href="@{/styles/board.css}" rel="stylesheet" />
</head>
<body>
<table>
    <tr th:each="row: ${board}">
        <td class="field" th:each="pawn: ${row}">
            <span th:text="${pawn?.isWhite}"></span >
        </td>
    <tr>
</table>
<form method="POST" action="/step">
    <label><b>From:</b></label>
    <input type="text" placeholder="From" name="from" required>

    <label><b>To:</b></label>
    <input type="text" placeholder="To" name="to" required>

    <button type="submit" name="step">Step</button>
</form>
</body>
</html>