<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=" UTF-8
    ">
    <script src="jquery-mobile/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="jquery-mobile/jquery.mobile-1.0.min.js" type="text/javascript"></script>
</head>
<body>
<div data-role="page" id="page">
    <div data-role="content">
        <table width="100%" border="0" id="friends" class="menu">
            <tr id="friend1">
                <td>First name</td>
                <td>Surname</td>
            </tr>
            <tr id="friend2">
                <td>First name</td>
                <td>Surname</td>
            </tr>
            <tr id="friend3">
                <td>First name</td>
                <td>Surname</td>
            </tr>
            <tr id="friend4">
                <td>First name</td>
                <td>Surname</td>
            </tr>
            <tr id="friend5">
                <td>First name</td>
                <td>Surname</td>
            </tr>
        </table>
        <script>
            var tds = document.getElementsByTagName("td");
            var trs = document.getElementsByTagName("tr")
            var row = 0;
            for (var k = 0, l = trs.length; k < l; ++k) {
                for (var i = 0, j = tds.length; i < j; ++i)
                    if (k % 2 == 0) {
                        if (i % 2 == 0) {
                            tds[i].style.backgroundColor = "#365AAD";
                        }
                    }
            }
        </script>
    </div>
</div>
</body>
</html>